body {
    background-color: rgb(151, 181, 222);
    font-family: Verdana;
    text-align: center;
}
form {
    background-color: rgb(242, 242, 242);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}